$color1: #050608;
$color2: #424040;
$color3: #ee6c4d;
$color4: #f0552f;
$color5: #f39a83;
$score: #f5d057;
$correct: #71e07a;
$wrong: #f07f7b;

@mixin centerThings {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: white;


}


.container {
    height: 100vh;
    background-color: $color1;
    @include centerThings();   
    
    h1 {
        width: 100%;
        @include centerThings();
        font-size: 3rem;
        color: $color3;
        text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.5);
        @media (max-width: 500px) {
            font-size: 2rem;
        
    }
    }
    
    .game-box {
        background-color: $color2;
        // width: 80%;
        padding: 50px;
        @include centerThings();

        .scoreboard {
            width: 100%;
            @include centerThings();
            font-size: 3rem;
            color: $score; 

            @media (max-width: 500px) {
                font-size: 1.5rem;
            
            }

            .before-score {
                color: $color5;
                font-size: 1.5rem;
                margin-bottom: 2em;

            }

        }
        .final {
            color: $color4;
        }

        .category {
            color: $color5;
            margin-top: 1.5em;
            margin: 0;
        
        }

        
        .question {
            h2 {
                margin-top: 0;
            }

                .question-number {
                    font-size: 1.5em;
                    color: $color5;
                }
        }
        .answers {
            @include centerThings();
            width: 100%;
            .answer {
                height: 60px;
                min-width: 300px;
                margin: 5px;
                border: 2px solid $color3;
                border-radius: 30px;
                background-color: white;
                cursor: pointer;

                &:focus {
                    outline: none;
                }

                @media not all and (pointer: coarse) {
                    &:hover {
                        background-color: $color5;
                    }
                }
            
            }
            .correct {
                background-color: $correct;
            }
            .wrong {
                background-color: $wrong;
            }


        }

        @media (max-width: 500px) {
                // height: 100%;
                width: 100%;
                padding: 30px 10px;

                .question {
                    font-size: 0.8rem;
                }
            
        }

    }


    .control {
            color: white;
            padding: 15px;
            margin: 20px;
            background-color: $color2;
            cursor: pointer;
            border-radius: 15px;
            border: 3px solid $color3;
            &:hover {
                background-color: $color3;
                
            }
            
            &:focus {
                outline: none;
              } 

    }


    .hide {
        display: none;
    }


}


